:root {
    --border-color: #4a6484;
}

a.btn-sm i {
    font-size: 0.675rem !important;
}

table thead.fix-border tr,
table thead.fix-border th,
table tfoot.fix-border tr,
table tfoot.fix-border th{
    border:none !important;
}

/*sidebar sub icons*/
.nav-item-sub-icon {
    font-size: 8px !important;
}

/*fix hidden selct 2 option by empty text*/
li.select2-results__option:empty {
    display: none;
}

.app-f-small {
    font-size: 12px;
}

.left-border {
    border-left: 4px solid var(--border-color);
}

.form-switch .form-check-input.visibility-control {
    padding-left: 2.5em;
    margin-left: -1.25rem;
    margin-top: 10px;
    background-image: url(../img/not_visible.png);
}

.form-switch .form-check-input.visibility-control:checked {
    background-image: url(../img/visible.png);
    background-color: lightgreen;
}

/*START Statistics*/
.statistic .statistic-box:hover {
    font-weight: bold;
}
/*END Statistics*/
