:root {

}

a.btn-sm i {
    font-size: 0.675rem !important;
}

table thead.fix-border tr,
table thead.fix-border th,
table tfoot.fix-border tr,
table tfoot.fix-border th{
    border:none !important;
}

/*sidebar sub icons*/
.nav-item-sub-icon {
    font-size: 8px !important;
}

/*fix hidden selct 2 option by empty text*/
li.select2-results__option:empty {
    display: none;
}
